body {

 background: rgb(164,160,220);
 background: linear-gradient(80deg, rgba(164,160,220,1) 0%,
         rgba(30,236,37,0.8573179271708684) 0%,
         rgba(228,228,228,0.1984943635657388) 33%,
         rgba(241,255,252,0.1760853999803046) 63%,
         rgba(0,212,255,0.6696428571428572) 100%);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  //font-family: Avenir, Helvetica, Arial, sans-serif;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  //text-align: center;
  color: #2c3e50;
}

button {
  cursor: pointer;
}

p {
  list-style: none;
  margin: 0;
  padding: 0;
}